<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Minor Project Face Age Progression</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style_index.css">
	<link rel="stylesheet" href="css/fixed.css">
</head>
 
<body data-spy="scroll" data-target="navbarResponsive">
<!-- start section-->


<div id="home">
	
	<!---nav -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#home"><img src="images/logo.png"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarResponsive"  >
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive" >

			<ul class="navbar-nav ml-auto">
				<li class="nav-item"  >
					<a href="#home" style="color:white">home</a>
				</li>
				<li class="nav-item"  >
					<a href="#description" style="color:white">Description</a>
				</li>
				<li class="nav-item"  >
					<a href="#upload" style="color:white">Upload</a>
				</li>
				
				<li class="nav-item"  >
					<a href="#built" style="color:white">Built By</a>
				</li>
			</ul>
			
		</div>
	</nav>



<!-- nav end-->
<!--landing page start-->
	<div class="landing">

		<div class="home-wrap">
			<div class="home-inner">
				<img src="images/age.jpg" width="100%" style="margin-top: 60px"></a>   <!-- image top margin-->
			</div>
			
		</div>
		
	</div>

	<div class="caption text-center">
		<h1>Face Age Progression</h1>
		
		<a class="btn btn-outline-light btn-lg" href="#upload">Upload Image</a>
	</div>
<!--end if landing page-->

</div>

<div id="description" class="offset"></div>

<div class="jumbotron" style="margin-bottom: 0">   <!--  new margin added -->
	<div class="narrow">
		<div class="col-12 text-center">
			<h1 class="heading">Minor Project : Face Age Progression</h1>
			<p></p>
			<div class="heading-underline">
				
			</div>
		
		</div>

		<div class="row text-center">
							
			</div>
		</div>
		</div>
	</div>
</div>


<!-- start ##upload section-->


<div id="upload" class="upload">

	<div class="fixed-background">
		<div class="upr">
			 	<div style="width: 100">
					<h3 class="heading-upload">UPLOAD IMAGE</h3>
					
			
				</div>			
		</div>
			            
		<div class="preview">
				<div class=" preview-img" style="margin-top: 10px;">
					<%- include('partials/uploadImage'); %>
				</div>

	<!-- static photo for instruction -->
			<div class="card-demo">
				<div class="card-body-demo">
				<h5 class="card-title-demo">Upload a photograph of yourself facing the camera.</h5>
				
				</div>
				<img class="card-img-bottom-demo" src="images/demo.jpg" alt="DEMO">
			</div>
		</div>
	</div>
</div>




<!-- end upload section-->


<div id="built" class="offset">
	<div class="jumbotron"> 
		<div class="narrow">
			<div class="col-12 text-center">
				<h3 class="heading"> Contributions By</h3>
				<div class="heading-underline">
				
				</div>
		
			</div>

			<div class="row text-center">
			

				<div class="col-md-3">
					<div class="card" style="width: 17rem;">

  						<img class="card-img-top" src="images/aayush.jpg" alt="Card image cap">
  						<div class="card-body">
    						<h5 class="card-title">Nikhal Mahajan</h5>

    						<p class="card-text">Btech Computer Science</p>
    					 	<a href="#built" class="btn btn-primary">18103070</a>
						</div>
					</div>
				
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 17rem;">

  						<img class="card-img-top" src="images/aayush.jpg" alt="Card image cap">
  						<div class="card-body">
    						<h5 class="card-title">Jaideep Singh</h5>

    						<p class="card-text">Btech Computer Science</p>
    					 	<a href="#built" class="btn btn-primary">18103071</a>
						</div>
					</div>
				
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 17rem;">

  						<img class="card-img-top" src="images/aayush.jpg" alt="Card image cap">
  						<div class="card-body">
    						<h5 class="card-title">Aayush Garg</h5>

    						<p class="card-text">Btech Computer Science</p>
    					 	<a href="#built" class="btn btn-primary">18103078</a>
    					</div>
					</div>
				
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 17rem;">

  						<img class="card-img-top" src="images/aayush.jpg" alt="Card image cap">
  						<div class="card-body">
    						<h5 class="card-title">Gaurang Gupta</h5>

    						<p class="card-text">Btech Computer Science</p>
    					 	<a href="#built" class="btn btn-primary">18103084</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>

<!--- Script Source Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>