<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/upload_Image.css">



<form action="/uploadphoto" enctype="multipart/form-data" method="POST"> 
  <input type="file" name="myImage" accept="image/*" />
  <input type="text" name ="Age" required/>
  <input type="submit" value="Upload Photo"/>
  <select name="age" id="list" required>
    <option value="" disabled selected>Select Your Age Bracket</option>
    <option value="0">0-10</option>
    <option value="1">10-20</option>
    <option value="2">20-30</option>
    <option value="3">30-40</option>
    <option value="4">40-50</option>
    <option value="5">50-60</option>
    <option value="6">60-70</option>
    <option value="7">70-80</option>
    <option value="8">80-90</option>
    <option value="9">90-100</option>
    
  </select>
</form>



