



@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
/*font-family: 'Lato', sans-serif;*/
body
{
  overflow-x: hidden;
  font-family: font-family: 'Lato', sans-serif;
  color: #505962
}
/*----------nav*/
.offset:before
{
  display: block;
  
  height: 4rem;
  margin-top: 4rem;
}
.navbar
{
  text-transform:uppercase;
  font-weight: 700;
  font-size: .9rem; 
  letter-spacing: .1rem;
  background: rgba(0,0,0,1.0)!important;
}
.navbar-brand
{
  height: 4rem;
}
.navbar-nav li
{
  padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link
{
 
  padding-top: .8rem;
}



.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #FFFFFF;
}
/*-----------landing page*/

.home-inner
{
  object-fit: cover;
}

.caption
{
  width: 100%; 
  max-width: 100%;
  position:absolute;

  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1
{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem  .8rem black;


}
.caption h3
{
  font-style: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;


}

.btn-lg
{

  padding: .6rem 1.3rem;
  background-color: #008B8B;
}
/*new8*/
.upload{
 
  background-color: #FFC0CB;
}
.upload div{
  
}
.upr{
  text-align: center;
  padding: 10px;
  border: 2px solid #ccc;
}
.preview{
  display: flex;
   padding: 10px;
  border: 2px solid #ccc;
}

.preview-img{
flex: 1;
 padding: 10px;
  border: 1px solid #ccc;
}
.card-demo{
  flex: 1;
   padding: 10px;
  border: 1px solid #ccc;

}
/*new8*/
/*styling*/

.narrow
{
  width: 75%;
  margin:  1.5rem auto;
  padding-top: 2rem;

}
.narrow h1
{
  font-size: 5 rem;
}
.image-preview{
  width: 300px;
  height:330px;  /*new*/


  border: 2px solid #dddddd;
  margin-top: 15px;
  
  display: flex;
  align-items: center;;
  justify-content: center;
  font-weight: bold;
  color: #a6a6a6;
}
.image-preview__image{
  display: none;
  width: 100%
}
